body {
  /* background-image: url('./images/teemu-paananen-OOE4xAnBhKo-unsplash.jpg') */
}

#plantCardsDiv { 
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 1rem;
 grid-auto-rows: minmax(3rem, auto);
}

#gardenCardsDiv { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.25rem;
  grid-auto-rows: minmax(3rem, auto);

}

.btn btn-primary{
  text-decoration: none;
 
}

.redirect{
 text-decoration: none;
 color: rgb(0, 0, 0);
}

.redirect2{
  text-decoration: none;
  color: rgb(255, 255, 255);
 }

.redirect_btn{
   margin: 10px;
   
}

